#top {
    height: 5.1%;
}

#left_topbg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-color: #004ea2;
}

#left_toplogo {
    position: absolute;
    margin: 16%;
    width: 32px;
    height: 32px;
}

#top_name {
    position: absolute;
    float: left;
    margin-left: 6%;
    margin-top: 3px;
    width: 72px;
    height: 24px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    text-align: left;
    color: #004ea2;
    line-height: 24px;
}

#right_top {
    position: absolute;
    right: 0px;
    float: left;
    width: 58%;
}

#top_searchBlock {
    position: absolute;
    left: 0px;
}

#top_searchico {
    position: absolute;
    left: 9px;
}

#top_searchinput {
    position: absolute;
    left: 3.3%;
}

input::-webkit-input-placeholder {
    width: 96px;
    height: 16px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    text-align: left;
    color: #cccccc;
    line-height: 16px;
}

#top_workbenchico {
    position: absolute;
    left: 41%;
}

#top_workbenchtext {
    position: absolute;
    left: 44%;
    width: 48px;
}

#top_SingleSmallDownnico_1 {
    position: absolute;
    left: 52%;
}

#top_BarToolico {
    position: absolute;
    left: 57%;
}

#top_BarTooltext {
    position: absolute;
    left: 60%;
    width: 36px;
}

#top_SingleSmallDownnico_2 {
    position: absolute;
    left: 65.5%;
}

#top_managerico {
    position: absolute;
    left: 75%;
    width: 32px;
    height: 32px;
}

#top_managertext {
    position: absolute;
    left: 80%;
    width: 36px;
}

#top_SingleSmallDownnico_3 {
    position: absolute;
    left: 86%;
}

#right_topbg {
    position: absolute;
    right: 0px;
    top: -8px;
    width: 48px;
    height: 48px;
    background-color: #088dff;
}

#right_topalarmico {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 16px;
    width: 16px;
    height: 16px;
}

#right_topalarmnum {
    position: absolute;
    margin-top: 28px;
    margin-left: 18px;
    width: 15px;
    height: 32px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    text-align: center;
    color: #ffffff;
    line-height: 16px;
}

#leftlabel {
    position: absolute;
    left: 0px;
    top: 48px;
    width: 48px;
    bottom: 0px;
    background-color: #003d7f;
}

#ll_home {
    position: absolute;
    top: 5%;
}

#ll_calculator {
    position: absolute;
    top: 10%;
}

#ll_dataTest {
    position: absolute;
    top: 15%;
}

#ll_objectMap {
    position: absolute;
    top: 20%;
}

#ll_files {
    position: absolute;
    top: 25%;
}

#ll_barSwith {
    position: absolute;
    top: 30%;
}

#ll_viewKeepYes {
    position: absolute;
    top: 82%;
}

#ll_setting {
    position: absolute;
    top: 87%;
}

#midtagPage {
    position: absolute;
    left: 48px;
    top: 48px;
    right: 0px;
    height: 40px;
    background-color: #e9edf5;
}

#table_tagPage {
    position: absolute;
    left: 16px;
    bottom: -4px;
    height: 32px;
}

#manageLabel {
    position: absolute;
    left: 50px;
    top: 88px;
    right: 0px;
    height: 50px;
    background-color: #f5f7fc;
}

#table_magLable {
    position: absolute;
    left: 16px;
    top: -16px;
    height: 32px;
}

#addfile {
    position: absolute;
    left: 67px;
    top: 138px;
    height: 40px;
    width: 280px;
    background-color: #e9edf5;
}

#bg_fleft {
    position: absolute;
    left: 48px;
    top: 88px;
    bottom: 0px;
    width: 19px;
    background-color: #f5f7fc;
    /* background-color: black; */
}

#bg_addfile {
    position: absolute;
    left: 10px;
    top: 6px;
    height: 28px;
    width: 40px;
    background-color: #ffffff;
}

#addfile_ico {
    position: absolute;
    left: 23px;
    top: 13px;
    height: 16px;
    width: 16px;
}

#Screen {
    position: absolute;
    top: 178px;
    left: 67px;
    bottom: 0px;
    width: 280px;
    /* background-color: black; */
}

#SsearchBlock {
    position: absolute;
    top: 10px;
    left: 14px;
}

#Ssearchico {
    position: absolute;
    top: 10px;
    left: 20px;
}

#Ssearchinput {
    position: absolute;
    top: 10px;
    left: 40px;
}

#bg_Sall {
    position: absolute;
    left: 15px;
    top: 50px;
    height: 28px;
    width: 248px;
    background-color: #e9edf5;
}

#MinusSquareico_1 {
    position: absolute;
    left: 20px;
    top: 56px;
}

#FileFoldersico_1 {
    position: absolute;
    left: 46px;
    top: 56px;
}

#Stext_1 {
    position: absolute;
    left: 72px;
    top: 56px;
    color: #333333;
}

#vline_1 {
    position: absolute;
    left: 27px;
    top: 70px;
    width: 2px;
    height: 273px;
}

#cline_1 {
    position: absolute;
    left: 31px;
    top: 90px;
    width: 10px;
    height: 1px;
}

#MinusSquareico_2 {
    position: absolute;
    left: 46px;
    top: 90px;
}

#FileFoldersico_2 {
    position: absolute;
    left: 72px;
    top: 90px;
}

#Stext_2 {
    position: absolute;
    left: 100px;
    top: 90px;
}

#vline_2 {
    position: absolute;
    left: 53px;
    top: 99px;
    width: 2px;
    height: 80px;
}

#cline_2 {
    position: absolute;
    left: 56px;
    top: 120px;
    width: 26px;
    height: 1px;
}

#UIfilesico_1 {
    position: absolute;
    left: 85px;
    top: 120px;
}

#Stext_3 {
    position: absolute;
    left: 110px;
    top: 120px;
}

#cline_3 {
    position: absolute;
    left: 56px;
    top: 150px;
    width: 26px;
    height: 1px;
}

#UIfilesico_2 {
    position: absolute;
    left: 85px;
    top: 150px;
}

#Stext_4 {
    position: absolute;
    left: 110px;
    top: 150px;
}

#cline_4 {
    position: absolute;
    left: 31px;
    top: 190px;
    width: 10px;
    height: 1px;
}

#MinusSquareico_3 {
    position: absolute;
    left: 46px;
    top: 191px;
}

#FileFoldersico_3 {
    position: absolute;
    left: 72px;
    top: 191px;
}

#Stext_5 {
    position: absolute;
    left: 100px;
    top: 191px;
}

#vline_3 {
    position: absolute;
    left: 53px;
    top: 201px;
    width: 2px;
    height: 80px;
}

#cline_5 {
    position: absolute;
    left: 56px;
    top: 222px;
    width: 26px;
    height: 1px;
}

#UIfilesico_3 {
    position: absolute;
    left: 85px;
    top: 222px;
}

#Stext_6 {
    position: absolute;
    left: 110px;
    top: 222px;
}

#cline_6 {
    position: absolute;
    left: 56px;
    top: 252px;
    width: 26px;
    height: 1px;
}

#UIfilesico_4 {
    position: absolute;
    left: 85px;
    top: 252px;
}

#Stext_7 {
    position: absolute;
    left: 110px;
    top: 252px;
}

#cline_7 {
    position: absolute;
    left: 31px;
    top: 288px;
    width: 10px;
    height: 1px;
}

#EditplusSquareico_1 {
    position: absolute;
    left: 46px;
    top: 290px;
}

#FileFoldersico_4 {
    position: absolute;
    left: 72px;
    top: 290px;
}

#Stext_8 {
    position: absolute;
    left: 100px;
    top: 290px;
}

#cline_8 {
    position: absolute;
    left: 31px;
    top: 315px;
    width: 10px;
    height: 1px;
}

#cline_9 {
    position: absolute;
    left: 31px;
    top: 342px;
    width: 10px;
    height: 1px;
}

#EditplusSquareico_2 {
    position: absolute;
    left: 46px;
    top: 315px;
}

#FileFoldersico_5 {
    position: absolute;
    left: 72px;
    top: 315px;
}

#Stext_9 {
    position: absolute;
    left: 100px;
    top: 315px;
}

#EditplusSquareico_3 {
    position: absolute;
    left: 46px;
    top: 342px;
}

#FileFoldersico_6 {
    position: absolute;
    left: 72px;
    top: 342px;
}

#Stext_10 {
    position: absolute;
    left: 100px;
    top: 342px;
}

#loadPicture {
    position: absolute;
    left: 378px;
    top: 175px;
    width: 94px;
    height: 28px;
    background-color: #088dff;
}

#loadPictureico {
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 6px;
    ;
}

#loadPicturetext {
    position: absolute;
    left: 36px;
    top: 5px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    text-align: left;
    line-height: 16px
}

#showpalarmtext {
    position: absolute;
    left: 519px;
    top: 182px;
    color: #666666;
}

#showP {
    position: absolute;
    left: 650px;
    top: 300px;
    width: 974px;
    height: 480px;
    background-color: green;
}

.textStyle {
    /* width: 36px;  宽度不同 */
    height: 16px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    text-align: left;
    /* color: #2d374b;  颜色不同 */
    line-height: 16px;
}

.toptextStyle {
    margin-top: 8px;
    color: #2d374b;
}

.mltextStyle {
    height: 19px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    text-align: left;
    line-height: 19px;
}

.activetagPage {
    width: 160px;
    color: #2d374b;
    background-color: #f5f7fc;
}

.noactivetagPage {
    width: 160px;
    color: #666e80;
    background-color: #d3d9e6;
}

.topicoStyle {
    margin-top: 7px;
    width: 15px;
    height: 15px;
    border: 1px dashed black;
}

.llico_style {
    width: 15px;
    height: 15px;
    margin-left: 22%;
}

.msico_style {
    width: 15px;
    height: 15px;
    border: 1px dashed black;
}

.searchBlockStyle {
    margin-left: 0px;
    margin-top: 1px;
    width: 250px;
    height: 28px;
    border: 1px solid black;
}

.searchicoStyle {
    margin-top: 8px;
    width: 16px;
    height: 16px;
}

.searchinputStyle {
    margin-top: 2px;
    width: 210px;
    height: 26px;
    border: none;
    outline: none;
}

.mlcmlc_templatem {
    color: #2d374b;
}

.mlc_background {
    color: #088dff;
}

.line_Style {
    border: 1px solid #e9edf5;
}