hr {
    color: sienna;
}

p {
    margin-left: 20px;
}

h1 {
    color: red;
    text-align: left;
}

h2 {
    color: gray;
    text-align: left;
    /* padding 属性定义元素边框与元素内容之间的空白区域*/
    padding: 10px;
    margin: 10px;
}

body {
    background-image: url("../asserts/forest.jpg");
    background-repeat: repeat-x;
}